@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav-signin {
    height: 700px;
    background-image: url(Img/Signin.jpg);
    background-size: cover;
}

#logo img {
    color: rgb(184, 10, 10);
    height: 50px;
    padding: 24px;
    margin: -8px 0px 0px -8px;
}

#sign-in {
    color: #fff;
    font-weight: 700;
}
.valid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 620px;
    width: 400px;
    padding: 10px 18px;
    background-color: #000000b0;
}

#header {
    margin-top: 20px;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 8vh 3vw;
    color: #dbdbdb;
}

.content #email-para {
    position: relative;
    top: 0px;

}

.content a {
    color: #fff;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}

.content h4 {
    margin-top: 22px;
    font-size: 1rem;
}

.content h5 {
    margin-top: 15px;
    font-size: 0.85rem;
    width: 100%;
    color: gray;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}
.learn-more {
    border: none;
    background: transparent;
    color: #0071eb;
    font-size: 0.8rem;
    cursor: pointer;
}

.learn-more-paragraph {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 0.82rem;
    color: #8c8c8c;
    text-align: start;
}
.learn-more-paragraph a {
    font-size: 0.75rem;
    color: #0080ff;
}

#inside-nav {
    margin-top: 30px;
}

#email {
    padding: 18px 12px ;
    margin-top: 40px;
    font-size: 1rem;
    color: #c5c2c2;
    background-color: rgba(11, 11, 11, 0.7);
    border: 1px solid gray;
    border-radius: 4px;
} 

#password {
    padding: 18px 12px ;
    font-size: 1rem;
    color: #c5c2c2;
    background-color: rgba(11, 11, 11, 0.7);
    border: 1px solid gray;
    border-radius: 4px;
}

#email-para {
    display: none;
}
#password-para {
    display: none;
}

h4 {
    color: #8c8c8c;
    font-weight: 300;
}

.signup-btn {
    margin-top: 22px;
    height: 40px;
    font-size: 0.9rem;
    color: #d2d2d2;
    background-color: rgb(205, 4, 4);
    border-radius: 4px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in 0.1s;
}
.signup-btn:hover {
   background-color: rgba(205,4,4,0.8);
}

p { 
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
} 

#bottom-btn {
    height: 40px;
    margin-top: 10px;
    color: #fff;
    background-color: rgba(245, 241, 241, 0.2);
    border-radius: 4px;
    text-align: center;
    border: none;
    cursor: pointer;
}

#bottom-btn:hover {
    background-color: rgba(245, 241, 241, 0.1);
}

#b-btn {
    color: #fff;
    text-decoration: none;
    font-weight: 550;
}

#f-password:hover {
    text-decoration: underline;
    color: #c5c2c2;
}

.signup-now {
    text-align: start;
}
/* footer */
.footer {
    height: 400px;
    background-color: black;
    overflow: hidden;
}

.footer-details {
    height: 400px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul a {
    color: #949090;
}

ul a {
    display: block;
    margin-top: 20px;
    color: #dddddd;
}

#language {
    margin-top: 4vh;
    color: #fff;
    margin-right: 1.5vw;
    border: 0.5px solid rgb(106, 106, 106);
    padding: 0.8vh 1.3vw 0.8vh 1.2vw;
    border-radius: 0.3rem;
    background-color: rgba(10, 10, 10, 0.5);
}

#language:hover {
    background-color: #222222 
}


/* Media queries */
@media (max-width: 645px) {
    /* #logo {
        font-size: 1.7rem;
    } */
    #logo img {
        height: 35px;
        padding: 24px 24px 5px 24px;
        margin: -8px 0px 0px -8px;
    }
    .nav-signin {
        height: 715px;
        background-image: none;
        background-color: black;
    }
    .container {
        width: 100%;
    }
    .content { 
        padding: 0vh 1vw; 
    }
    .privacy {
        display: none;
    }
    .line {
        height: 1px;
        background-color: #949090;
    }
    .footer {
        height: 350px;
        color: #8c8c8c;
    }
}