@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-color--: #fff;
    --Head-font-family--: 'Poppins', sans-serif;
    --font-family--: sans-serif;
}

.netflix-clone {
    overflow: hidden;
} 

header {
    height: 700px;
    background-image: url(Img/main.jpg);
    background-size: cover;
    color: #fff;
}


.nav-bar {
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#logo {
    font-family: var(--font-family--);
    color: red;
    margin-left: 8vw;
}

#logo-icon img {
    font-size: 2.9vw;
    /* height: 40px;
    width: 120px; */
}

#nav-right {
    margin-right: 8vw;
    font-size: 1rem;
    padding: 0px 1vw;
    font-family: sans-serif;
}

#language {
    color: #fff;
    margin-right: 1.5vw;
    border: 0.5px solid rgb(106, 106, 106);
    padding: 0.75vh 1.3vw 0.75vh 1.2vw;
    border-radius: 0.3rem;
    background-color: rgba(10, 10, 10, 0.5);
}

select {
    font-size: 1rem;
}

#login {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 1.1vh 1vw;
    border-radius: 0.3rem;
    background-color: rgba(240, 0, 0, 0.95);
    transition: 0.4s ease;
    font-size: 0.9rem;
}

#login:hover {
    background-color: rgba(240, 0, 0, 0.80);
}

/* hero main section */
.main {
    padding-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading1 {
    margin: 0px 0px 16px;
    font-family: var(--Head-font-family--);
    font-size: 3.2vw;
    /* font-weight: 800; */
}

#heading2 {
    margin: 0px 0px 16px;
    font-size: 1.3vw;
    font-weight: 550;
    font-family: var(--font-family--);
}

#heading3 {
    line-height: normal;
    color: #e7e6e6;
    padding-top: 30px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-family--);
}

/* Validation */
#email-paragraph,
#email-paragraph2 {
    color: #EB3942;
    font-size: 0.9rem;
    display: none;
}

#email,
#email2 {
    width: 24vw;
    padding: 1vw;
    margin-top: 3vh;
    font-size: 1.3rem;
    background-color: rgba(11, 11, 11, 0.7);
    border: 1.5px solid rgb(122, 116, 116);
    border-radius: 0.3vw;
}

input::placeholder {
    color: gray;
    opacity: 1;
    font-size: 1rem;
}

input::placeholder:active {
    position: absolute;
    left: 0px;
}

#signup-button,
#signup-button2 {
    border: none;
    font-size: 1.3rem;
    margin-top: 3vh;
    padding: 1vw;
    border-radius: 0.3vw;
    color: #e6dddd;
    cursor: pointer;
    background-color: rgb(220, 0, 0);
}

#signup-button,
#signup-button2:hover {
    background-color: rgba(220, 0, 0, 0.9);
}

#line {
    width: 100%;
    height: 4px;
    background-color: #696868;
}

/* TV-Section */
#heading-first {
    margin: 0px 0px 36px;
    font-size: 3.2vw;
    color: #ffffff;
    font-family: var(--font-family--)
}

#heading-second {
    width: 25vw;
    font-size: 1.3rem;
    font-family: var(--font-family--);
    color: #e6dddd;
    font-weight: 200;
    color: #ffffffb3;
}

/* .container {
    overflow: hidden;
} */

.tv {
    height: 600px;
    background-color: black;
    color: #fff;
    display: flex;
    padding: 0vw 10vw;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.tv-img {
    height: 20vw;
    width: 33vw;
    border-radius: 8px;
}

/* Download section */
.download {
    height: 600px;
    background-color: black;
    color: #fff;
    padding: 0vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.download-img {
    height: 28vw;
    width: 38vw;
}

/* laptop watch */
.laptop {
    height: 600px;
    background-color: black;
    color: #fff;
    padding: 0vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.laptop-img {
    height: 20vw;
    width: 33vw;
    border-radius: 8px;
}

/* kids section */
.kids {
    height: 600px;
    background-color: black;
    color: #fff;
    padding: 0vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.kids-img {
    height: 30vw;
    width: 45vw;
}

/* Questions section */
.ques-section,
.heading {
    padding-top: 15px;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

.ques-section {
    height: 110vh;
    background-color: black;
    color: #fff;
    text-align: center;
}

.QandA {
    margin-top: 5vh;
}

.QandA .question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.QandA button {
    padding: 26px;
    margin: 3px 0px;
    width: 80vw;
    border: none;
    cursor: pointer;
    background-color: rgba(53, 53, 53, 0.9);
    text-align: start;
    color: var(--font-color--);
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.QandA button:hover {
    background-color: rgba(125, 122, 122, 0.7);
}

/* answer */

.QandA .answer {
    display: flex;
    justify-content: center;
    text-align: start;
    transition: 2s ease-in;
}

.QandA p {
    width: 80vw;
    background-color: rgba(53, 53, 53, 0.9);
    color: var(--font-color--);
    font-size: 1.3rem;
    transition: 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    animation: 1s infinite alternate slidein
}

.answerOne,
#cut-icon {
    display: none;
}

.answerTwo,
#cut-icon2 {
    display: none;

}

.answerThree,
#cut-icon3 {
    display: none;

}

.answerFour,
#cut-icon4 {
    display: none;

}

.answerFive,
#cut-icon5 {
    display: none;

}

.answerSix,
#cut-icon6 {
    display: none;

}

/* footer */
#heading-footer {
    font-size: 22px;
}

.footer-one {
    height: 400px;
    background-color: black;
    color: #f9f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

ul {
    margin-top: 70px;
}

ul p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

ul a {
    display: block;
    margin-top: 10px;
    color: #dddddd;
}

ul div {
    margin-top: 39px;
}

ul div p {
    margin-top: 22px;
}

.bottom-language {
    margin-top: 22pxs;
}

#language-bottom {
    text-decoration: none;
    margin-right: 0.9rem;
    border: 0.5px solid rgb(136, 136, 136);
    padding: 8px 18px 8px 18px;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
}

#language-bottom:hover {
    background-color: #222222;
}

/* Responsive design */

@media (max-width: 600px) {
    #heading1 {
        font-size: 3.8vw;
        font-weight: 600;  
    }
    
    #heading2 {
        font-size: 1.9vw;
        font-weight: 550; 
    }
    
    #heading3 {
        font-size: 0.7rem;
        font-weight: 400;  
    }
    .QandA button {
        width: 98%;
        font-size: 1.2rem;
    }
    .validation {
        display: flex;
        flex-direction: column;
    }
}